#content
{
	padding-top:35px;
}

margin-bottom
{
	margin-bottom:20px;
}

#price_chart
{
	margin-left:auto;
        margin-right:auto;
	height:400px;
	width:450px;
}

#price_chart_with_trend
{
        margin-left:auto;
        margin-right:auto;
        height:400px;
        width:450px;
}
